<!-- 
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true]* %}
          </div> -->
<div class="paper" style="width:100%; display: inline-block;">
  <a class="anchor" id="sample-paper"></a>
      <div style="float:left; width:20%; display: inline-block; vertical-align:middle;">
        <img class="paper-img" src="/assets/img/rob_favicon.png" width="115" alt="" />
      </div>
      <div style="float:left; display: table-cell; width: 75%; margin-left:5px; vertical-align:middle; height:100%;">
        <h4 style="font-weight:500;"><a href="/assets/pdf/example_pdf.pdf">Title</a></h4>
          <p>Author.<br> 
            Venue. 
            <br>
            <a class="icon solid fa-file-powerpoint" href = "/assets/pdf/example_pdf.pdf" title="supplementary Material"></a>
            <br>
          </p>
      </div>
</div>