---
layout: default
---

<!-- main.html -->
      <div class="post">
        <!-- <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header> -->

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.intro %}
            <div class="social-top">
              <div class="title">
                Hasan Amin
              </div>              
              <div class="contact-icons">
                {% include social.html %}
              </div>
              {%- if page.profile.note %}
              <div class="note">
                {{ page.profile.note }}
              </div>
              {%- endif %}
            </div>
            {%- endif %}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>

            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;"><span class="font-weight-bold">News</span></a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;"><span class="font-weight-bold">Latest Posts</span></a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a style="color: inherit;"><span class="font-weight-bold">Publications</span></a></h2>
            <!-- <div class="paper" style="width:100%; display: inline-block;">
              <a class="anchor" id="sample-paper"></a>
                  <div style="float:left; width:20%; display: inline-block; vertical-align:middle;">
                    <img class="paper-img" src="/assets/img/rob_favicon.png" width="115" alt="" />
                  </div>
                  <div style="float:left; display: table-cell; width: 75%; margin-left:5px; vertical-align:middle; height:100%;">
                    <h4 style="font-weight:500;"><a href="/assets/pdf/example_pdf.pdf">On the Support Vector Effect in DNNs: Rethinking Last Layer Sensitivity-based Instance Attribution</a></h4>
                      <p><b>Hasan Amin</b>, and Rajiv Khanna.<br> 
                        Attributing Model Behavior at Scale Workshop at NeurIPS, New Orleans, December 2023. 
                        <br>
                        <a href="/assets/pdf/sve_poster.pdf" title="Poster"><i class="fas fa-book"></i></a>
                        <br>
                      </p>
                  </div>
            </div> -->

            <div class="paper" style="width:100%; display: inline-block;">
              <a class="anchor" id="sample-paper"></a>
                  <div style="float:left; display: table-cell; width: 100%; margin-left:5px; vertical-align:middle; height:100%;">
                    <h4 style="font-weight:500;"><a href="/assets/pdf/example_pdf.pdf">On the Support Vector Effect in DNNs: Rethinking Last Layer Sensitivity-based Instance Attribution</a></h4>
                      <p>
                        <span style="font-weight: bold;">Hasan Amin</span> and Rajiv Khanna<br> 
                        <span style="font-weight: italic;">Attributing Model Behavior at Scale Workshop at NeurIPS, New Orleans, December 2023.</span>
                        <br>
                        <a href="/assets/pdf/sve_poster.pdf" title="Poster"><i class="fas fa-book"></i></a>
                        <br>
                      </p>
                  </div>
            </div>

            <div class="paper" style="width:100%; display: inline-block;">
              <a class="anchor" id="sample-paper"></a>
                  <!-- <div style="float:left; width:20%; display: inline-block; vertical-align:middle;">
                    <img class="paper-img" src="/assets/img/rob_favicon.png" width="100" alt="" />
                  </div> -->
                  <div style="float:left; display: table-cell; width: 100%; margin-left:5px; vertical-align:middle; height:100%;">
                    <h4 style="font-weight:500;"><a href="/assets/pdf/gwhr_cameraready.pdf">Give Weight to Human Reactions: Optimizing Complementary AI in Practical Human-AI Teams</a></h4>
                      <p>
                        <span style="font-weight: bold;">Hasan Amin</span>, Zhuoran Lu, and Ming Yin<br> 
                        <span style="font-weight: italic;">Artificial Intelligence & Human Computer Interaction Workshop at ICML, Hawaii, July 2023.</span>
                        <br>
                        <a href="/assets/pdf/gwhr_poster.pdf" title="Poster"><i class="fas fa-book"></i></a>
                        <br>
                      </p>
                  </div>
            </div>

            <div class="paper" style="width:100%; display: inline-block;">
              <a class="anchor" id="sample-paper"></a>
                  <div style="float:left; display: table-cell; width: 100%; margin-left:5px; vertical-align:middle; height:100%;">
                    <h4 style="font-weight:500;"><a href="https://ahmedabbasi.com/wp-content/uploads/C/Mahmood_DeepGenerativeModels_ICDMW2020.pdf">Using Deep Generative Models to Boost Forecasting</a></h4>
                      <p>
                        <span style="font-weight: bold;">Hasan Amin</span> and Ahmed Abbasi<br> 
                        <span style="font-weight: italic;">IEEE International Conference on Data Mining (ICDM) Workshops, Sorrento, Italy, November 2020.</span>
                      </p>
                  </div>
            </div>
            <div class="paper" style="width:100%; display: inline-block;">
              <a class="anchor" id="sample-paper"></a>
                  <div style="float:left; display: table-cell; width: 100%; margin-left:5px; vertical-align:middle; height:100%;">
                    <h4 style="font-weight:500;"><a href="https://ahmedabbasi.com/wp-content/uploads/C/Mahmood_Phishcasting_IEEEISI2020.pdf">Phishcasting: Deep Learning for Time Series Forecasting of Phishing Attacks</a></h4>
                      <p>
                        <span style="font-weight: bold;">Hasan Amin</span>, Mustafa Abbasi, and Ahmed Abbasi.<br> 
                        <span style="font-weight: italic;">IEEE International Conference on Intelligence & Security Informatics, Virtual, November 2020.</span>
                      </p>
                  </div>
            </div>
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
