---
layout: default
---

<!-- main.html -->
      <div class="post">
        <!-- <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header> -->

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.intro %}
            <div class="social-top">
              <div class="title">
                Hasan Amin
              </div>              
              <div class="contact-icons">
                {% include social.html %}
              </div>
              {%- if page.profile.note %}
              <div class="note">
                {{ page.profile.note }}
              </div>
              {%- endif %}
            </div>
            {%- endif %}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}

          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

            <!-- News -->
            {% if page.news and site.announcements.enabled -%}
            <h2><span class="font-weight-bold"><i class="fas fa-newspaper" style="font-size: 34px;"></i> News</span></h2>
            {%- include news.html limit=true %}
            <div style="text-align: left; margin-top: -20px; margin-bottom: 30px;">
              <a href="{{ '/news/' | relative_url }}" class="news-header">See more...</a>
            </div>
            <hr class="section-divider">
            {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;"><span class="font-weight-bold">Latest Posts</span></a></h2>
            {%- include latest_posts.html %}
            <hr class="section-divider">
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><span class="font-weight-bold"><i class="fas fa-book" style="font-size: 34px;"></i> Selected Publications</span></h2>
            
            <div class="paper" style="width:100%; display: flex; align-items: center; margin-bottom: -10px;">
              <a class="anchor" id="sample-paper"></a>
                <div style="flex: 0 0 15%; display: flex; align-items: center; justify-content: center; padding-right: 1rem;">
                <style>.paper-img {max-width: 120px; width: 100%; height: auto; border-radius: 15%;}</style>
                <img class="paper-img" src="/assets/img/sve.png" alt="" />
                </div>
              <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
              <h4 style="font-weight:500;">
                <a href="https://dl.acm.org/doi/pdf/10.1145/3690624.3709295" style="font-size: 26px;">On the Support Vector Effect in DNNs: Rethinking Data Selection and Attribution</a>
              </h4>
                <p style="margin-top: -6px;">
                <span style="font-weight: bold;">Hasan Amin</span>, Ming Yin and Rajiv Khanna<br> 
                <span style="font-style: italic;">The 31st SIGKDD Conference on Knowledge Discovery and Data Mining (KDD)</span><br>Toronto, Canada, August 2025
                </p>
              </div>
            </div>

            <div class="paper" style="width:100%; display: flex; align-items: center; margin-bottom: -10px;">
              <a class="anchor" id="sample-paper"></a>
                <div style="flex: 0 0 15%; display: flex; align-items: center; justify-content: center; padding-right: 1rem;">
                <style>.paper-img {max-width: 120px; width: 100%; height: auto; border-radius: 15%;}</style>
                <img class="paper-img" src="/assets/img/mm.png" alt="" />
                </div>
              <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
              <h4 style="font-weight:500;">
                <a href="https://ojs.aaai.org/index.php/HCOMP/article/view/31604/33770" style="font-size: 26px;"> Mix and Match: Characterizing Heterogeneous Human Behavior in AI-assisted Decision Making</a>
              </h4>
                <p style="margin-top: -6px;">
                Zhuoran Lu, <span style="font-weight: bold;">Hasan Amin</span>, Zhuoyan Li and Ming Yin<br> 
                <span style="font-style: italic;">The 12th AAAI Conference on Human Computation and Crowdsourcing (HCOMP)</span><br>Pittsburgh, USA, October 2024
                </p>
              </div>
            </div>

            <div class="paper" style="width:100%; display: flex; align-items: center; margin-bottom: -10px;">
              <a class="anchor" id="sample-paper"></a>
                <div style="flex: 0 0 15%; display: flex; align-items: center; justify-content: center; padding-right: 1rem;">
                <style>.paper-img {max-width: 120px; width: 100%; height: auto; border-radius: 15%;}</style>
                <img class="paper-img" src="/assets/img/behaviorAware.png" alt="" />
                </div>
              <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
              <h4 style="font-weight:500;">
                <a href="https://www.ijcai.org/proceedings/2024/0344.pdf" style="font-size: 26px;"> Designing Behavior-Aware AI to Improve Human-AI Team Performance in AI-Assisted Decision Making</a>
              </h4>
                <p style="margin-top: -6px;">
                <span style="font-weight: bold;">Hasan Amin</span>, Zhuoran Lu and Ming Yin<br> 
                <span style="font-style: italic;">The 33rd International Joint Conference on Artificial Intelligence (IJCAI)</span><br>Jeju, South Korea, August 2024
                </p>
              </div>
            </div>
            
            <div style="text-align: left; margin-top: 0px; margin-bottom: 0px;">
              <a href="{{ '/publications/' | relative_url }}" class="publications-header">See more...</a>
            </div>
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
